<div class="columns">
<div class="column">

  <form class="control has-text-centered" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h2 class="title"> S'inscrire</h2>

    <label name="email" class="label"> Email: </label>
    <input class="input" type="email" name="email" formControlName="email">

    <label name="password" class="label">Mot de passe: </label>
    <input type="password" class="input" name="password" formControlName="password">

    <label name="confirmPassword" class="label">Confirmez votre mot de passe: </label>
    <input class="input" type="password" class="input" name="confirmPassword" formControlName="confirmPassword">

    <p> Votre mot de passe doit contenir au minimum 1 caractère spécial, 1 chiffre, 1 lettre et entre 6 et 30 caractères</p>

    <button type="submit" class="button is-black" [disabled]="userForm.invalid"> Valider</button>
  </form>
</div>

<div class="pipe"></div>

<div class="column">
  <app-login></app-login>
</div>
</div>